@using Sitecore.Mvc
@model LanguageDemo.Web.Areas.LanguageDemo.Models.Pages.IPageViewModel

<div class="home page-container">
    <div class="content">
        @Html.Sitecore().Field("Content")
    </div>
</div>