<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <mvc.getModel>
                <processor patch:before="processor[1]" resolve="true"
                           type="LanguageDemo.Web.CustomSitecore.GetModelFromView,LanguageDemo.Web"/>
            </mvc.getModel>
        </pipelines>
    </sitecore>
</configuration>