<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <mvc.requestBegin>
                <processor type="LanguageDemo.Web.CustomSitecore.SearchQueryTrackingProcessor, LanguageDemo.Web"
                       patch:after="processor[@type='Sitecore.Mvc.Analytics.Pipelines.MvcEvents.RequestBegin.StartTracking, Sitecore.Mvc.Analytics']" 
                       reusable="false" />
            </mvc.requestBegin>
        </pipelines>
    </sitecore>
</configuration>