<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <sites>
            <site name="languagedemo" patch:before="site[@name='website']"
              hostName="funstuff4kids.com" rootPath="/sitecore/content/Language Demo"
              startItem="/home" database="web" domain="extranet" language="en" enableTracking="true" physicalFolder="/" />
        </sites>
    </sitecore>
</configuration>